extends layout/main.pug

block content
	article.card
		.card__image
			.card__image-inner
				img(src='./images/meeting.jpg' alt='')
		.card__content
			h2.card__title
				| Get 
				mark insights
				|  that help your business grow.
			p.card__desc
				| Discover the benefits of data analytics and make
				| better decisions regarding revenue, customer
				| experience, and overall efficiency.
			ul.card__stats-list
				li.card__stats-list-item
					span.num 10K+
					span.label Companies
				li.card__stats-list-item
					span.num 314
					span.label Templates
				li.card__stats-list-item
					span.num 12M+
					span.label Queries
